$black: #000;
$red: #ff0000;
$light: #E6E6E6;

.header {
  row-gap: 1rem;

  .header__nav {
    .header__cont-left {
      column-gap: 0.5rem;

      .header__bars-icon {
        width: 22px;
        height: 17px;
        background-color: transparent;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-color: $black;
        }
      }

      span {
        font-weight: 600;
        font-size: 1.2rem;
        color: $red;
      }
    }

    .header__cont-right {
      column-gap: 0.5rem;
    }
  }
  
  .search {
    background-color: $light;
  }
}
