.home {
  row-gap: 2rem;

  .home__localization {
    font-weight: 600;
    font-size: 14px;
  }

  .home__session {
    .home__session__title {
      column-gap: .5rem;

      h2 {
        font-weight: 600;
        font-size: 1.1rem;
      }
    }
  }
}

.row-items {
  overflow-x: scroll;
}