<app-header></app-header>

<div class="home d-flex flex-column">
  <div class="home__localization d-flex align-items-center">
    <img
      src="../../../assets/icons/localization.svg"
      class="ps-3 me-1"
      alt="Localization icon"
    />
    {{ user.city }} - {{ user.uf }}
  </div>

  <div class="row-items d-flex align-items-start justify-content-between ps-2">
    <app-mini-card
      class="me-4"
      *ngFor="let data of suggestionsData"
      [cardData]="data"
    ></app-mini-card>
  </div>

  <div class="home__session">
    <div class="home__session__title d-flex ps-3">
      <h2>A partir de R$ {{ sessionValue }}</h2>
      <img src="/assets/icons/row-right.svg" alt="Row right icon" />
    </div>
    <p class="opacity-75 ps-3 mb-2">Frete grátis</p>

    <div class="row-items d-flex align-items-start px-3">
      <app-medium-card
        class="me-1"
        *ngFor="let data of sessionPromotions"
        [cardData]="data"
      ></app-medium-card>
    </div>
  </div>

  <div class="home__session px-3">
    <h2>Você vai amar</h2>

    <div class="column-items">
      <app-big-card
        class="me-1"
        *ngFor="let data of productsData"
        [cardData]="data"
      ></app-big-card>
    </div>
  </div>
</div>